<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alliy.mapper.CourseMapper">

    <select id="selectByStudentId" resultType="org.alliy.pojo.Course">
        select * from course where id in (select cid from stu_course where sid = #{studentId})
    </select>
    <select id="selectByTeacherId" resultType="org.alliy.pojo.Course">
        select * from course where id in (select cid from tea_course where tid = #{teacherId})
    </select>
</mapper>